# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignore configuration of visual studio code
.vscode

#Ignore file crated by compilation of java
app/bin

